<div id='author-bio'>
  <div class='bio'>
    Hey there! welcome to my website.
    This is my portfolio/personal page
    for all things tech related.
    I occasionally also write about the
    languages and tools I use. I also maintain
    another blog website <a href="https://thehobbyistadventurer.com">
    here!</a> where I write about my interests off tech (mostly adventures
    and travels I've been on :D).
    <br>
    <br>
    <div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-about-link' href='/about/'>About</a>
    </div>
  </div>
</div>
