<div id="comments"></div>
<script>
  function loadGiscusComments() {
      var script = document.createElement('script');
      script.src = "https://giscus.app/client.js";
      script.async = true;
      script.crossOrigin = "anonymous";
      script.setAttribute("data-repo", "velvetSymphony/portfolio-v2");
      script.setAttribute("data-repo-id", "R_kgDOObwg4g");
      script.setAttribute("data-category", "Comments");
      script.setAttribute("data-category-id", "DIC_kwDOObwg4s4CpO9z");
      script.setAttribute("data-mapping", "pathname");
      script.setAttribute("data-strict", "1");
      script.setAttribute("data-reactions-enabled", "1");
      script.setAttribute("data-emit-metadata", "0");
      script.setAttribute("data-input-position", "top");
      script.setAttribute("data-theme", "gruvbox");
      script.setAttribute("data-lang", "en");
      script.setAttribute("data-loading", "lazy");

      document.getElementById("comments").appendChild(script);
  }

  var scriptLoaded = false;
  function loadCommentScriptOnce() {
    if (!scriptLoaded) {
      loadGiscusComments();
      scriptLoaded = true;
    }
  }

  setTimeout(loadCommentScriptOnce, 5000);
  window.addEventListener("scroll", loadCommentScriptOnce);
</script>
